.Truck{
    width: 100%;
    margin: auto;
    border-radius: 10px;
    z-index: 1;
    position: absolute;
}


.color-change-btn{
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 2rem;
    padding: 10PX;
    height: 60px;
    width: auto;
    z-index: 10;
    position: absolute;
    bottom: 10%;
    right: 15%;
    border: 0cap;
    border: 3px solid rgb(100, 100, 100);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.color-change-btn:hover{

    transform: scale(1.02);
}

@media screen and (max-width: 800px){
    .Truck{
        width: 160%;
    }
    .color-change-btn{
        right: 25%;
    }
}