.MenuDiv{
    width: 100%;
    height: 80px;
    background-color: rgb(41, 41, 41);
    box-shadow: 0px 0px 9px 0px rgb(170, 170, 170);
    z-index: 5;
    top: 0px;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.icon-menu{

    height: 100%;
    width: 10%;
}

ul{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: right;
}
li{
    margin: auto 15px auto 15px;
    padding: 10px;
    height: auto;
    list-style-type: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
