.MenuDiv{
    width: 100%;
    height: 80px;
    background-color: rgb(41, 41, 41);
    box-shadow: 0px 0px 9px 0px rgb(170, 170, 170);
    z-index: 5;
    top: 0px;
    position: fixed;
    display: flex;
    justify-content: space-between;
}


.menu-toggle{
    display: none;
    flex-direction: column;
    gap: 4px;
    padding: 3px 0px 2px 0px;
    width: auto;
    height: auto;
    margin: auto 0;
}
.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
}
.icon-menu{
    height: 100%;
    width: 100px;
    margin-left: 100px;
}

.icon-menu img{

}

ul{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: right;
    margin-right: 200px;
}
li{
    margin: auto 15px auto 15px;
    padding: 10px;
    height: auto;
    list-style-type: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.MenuDiv a{
    margin: auto 15px auto 15px;
    height: auto;
    text-decoration: none;
}

@media screen and (max-width: 1400px){
    ul{
        margin-right: 100px;
    }
    li{
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px){
    .menu-toggle{
        display: flex;
        margin-right: 30px;
    }
    .MenuDiv a{
        margin: 0;
    }
    .MenuDiv ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: -100px;
        background-color: rgb(65, 65, 65);
        width: auto;
        height: auto;
    }
    .MenuDiv ul.open {
        display: flex;
    }

    .MenuDiv ul li {
        border-bottom: 1px solid black;
        color: white;
        width: 170px;
        margin: 0px ;
        transition: 0.2s ease;
    }

    .MenuDiv ul li:hover{
        background-color: rgb(102, 102, 102);
    }
    .MenuDiv ul li:last-child{

    }
    .icon-menu{
        margin-left: 0px;
    }
}